#twittor-panel {
    display: table-cell;
    float: none;
    vertical-align: top;
}

#twittor-panel input {
	width: 100%;
}

#twittor-panel div.comm {
	margin-top:2px;
	
	background-image: linear-gradient(to bottom, #e8e8e8 0px, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    
	padding: 10px 3px;	
	
	border-radius: 3px;
}
#twittor-panel div.comm div.date {
	font-size:9px;
	color:#a5a5a5;
	text-align: right;
}
#twittor-panel div.comm div.object a {
	color:green;
	
}

#twittor-panel div.comm a.user {
	color:blue;
}

#twittor-panel div.comm a.object {
	color:#fff;
	border-radius: 3px;
	padding:1px 3px;
	background-color: #008000;
}
#twittor-panel div.comm a.rel {
	color:#fff;
	border-radius: 3px;
	padding:1px 3px;
	background-color: purple;
}
#twittor-panel div.comm a.user {
	color:blue;
}